.nabBarContainer{
    background-color: black;
    padding: 48px 0 14px;
    display: flex;
    justify-content: space-between;

    .logo{
        padding-left: 48px;
        color: #900C3F;
        font-size: 70px;
        font-weight: bolder;
        font-family: 'Aktiv Grotesk Extended', sans-serif;
    }
}